  *{
    /* font-family: 'Spirax', cursive; */
    font-family: 'alex_brushregular';
  }

  .container-1 div, .container-2 div{
    border: 1px solid black;
    padding: 10px;
  }

  .container-1{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  .icon-laptop:before {
    content: "\e957";
    color: red;
    font-size:25px;
    padding-right: 10px;
  }
  .box-1{
    width: 25%;
  }

  .box-2{
    width: 25%;
  }

  .box-3{
    width: 25%;
  }

  .container-2{
    display: flex;
    flex-wrap: wrap;
  }

  .container-2-box{
    width: 15%;
  }
